NewsApp.xcodeproj/project.xcworkspace/xcuserdata/mahrous.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
New-Zoz-Client.xcodeproj/xcuserdata/mahrous.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
.DS_Store
.DS_Store
.DS_Store
NewsApp/New Group/HomeTab/helper.storyboard
Pods
